.home-container
	%h1
		Dope Magic! Web tools
	.row
		Dope Magic! Web tools is your ultimate source for scraping, email blasting, SMS gateway and other great growth hacking tools. Email tim@wrent.it for more info.