%section.section1
  .section1-left.col-md-offset-1.margin-top-45
    .section-heading.left-aligned{ id: "b" }
      = fa_icon "magic", text: "DopeMagic!"
    .home-description.text-left.margin-top-45
      DopeMagic! Web tools is your ultimate source for scraping, email blasting, SMS gateway and other great growth hacking tools. Email tim@wrent.it for more info.
  .section1-right.wizard-bg.float-left.bounce
.clouds-bg.row-f
%section.section2.row-f{ id: "section2" }
  .section-heading.pb45
    What can
    = fa_icon "magic", text: "DopeMagic "
    do for you?
  %ul
    %li
      Market your business/brand with social media automation
    %li
      Produce awesome content
    %li
      Create attractive, colorful and successful landing pages.
    %li
      Produce great marketing strategies
    %li
      Control the web
:javascript
  $(document).ready( function () {
    bounce();
    set_bounce();
    createTransition("b", "font");
  });