.home-container
	%h1
		DopeMagic! Web tools
	.row
		DopeMagic! Web tools is your ultimate source for scraping, email blasting, SMS gateway and other great growth hacking tools. Email tim@wrent.it for more info.
	.row
		.col-xs-8.col-xs-offset-2
			%b Features:

			%ul.left-aligned
				%li
					%b Twitter Blaster.
					Direct message followers of any given user handle
				%li
					%b Scrape Ape.
					A web scraper that features a rotating proxy that uses a proxy list (updated daily).
				%li
					%b SMS Blaster (coming soon).
					Copy and paste a list of phone numbers to send text messages en masse.
				%li
					%b Filtering tools galore.
					Filter parts of text data you want removed to get to the good stuff - remove whitespaces, unwanted text, etc.
				%li
					%b Export to csv.
					Easily export your data to CSV at a click.
				%li
					%b Scrape not going as planne? No problemo.
					Pause/stop/run your web scraper anytime. We use background workers to ensure that the scraper keeps running at all times.