<div class="row">
  <h1><%= fa_icon "terminal", text: "ScrapeApe" %></h1>
</div>
<div class="row description">
  Go apeshit on that data™
</div>
<%= render :partial => "scrapes/nested_form" %>

<div class="recent-scrapes-update">
  <%= render :partial => "scrapes/recent_scrapes_table" %>
</div>

<script type="text/javascript">
  $(document).ready( function () {

    setInterval(function () {
      $.ajax({
        url: "scrape/get_scrapes",
        type: "GET",
        dataType: "html",
        success: function (xhr) {
          $('.recent-scrapes-update').html(xhr);
        }
      });
    }, 5000);

    $('.new_scrape').submit( function (event) {
      var loading_gif = $('<img />').attr('src','<%= image_url "ajax-loader.gif" %>');
      $('.scrape_btn').html(loading_gif);
    }).on('ajax:complete', function () {
      $('.scrape_btn').html('Scrape!');
    });
  });
</script>