= js_for_block("mail_creator")

.static-page-container
	.row
		%h1
			Craig Crammer
	.row
		%i Cram Jobs run once a day.
.container-fluid.margin-top-45
	= render :partial => "craig_crams/form"
.container-fluid
	= render :partial => "craig_crams/recent_cram_jobs_table"