= js_for_block("mail_creator")

.static-page-container
	.row
		%h1 Craig Crammer

.container-fluid
	= render :partial => "craig_crams/email_generator"
.container-fluid
	= render :partial => "craig_crams/form"
.container-fluid
	= render :partial => "craig_crams/recent_cram_jobs_table"