.static-page-container
	%h1 RSS Feeds Tweeter
	.row
		DopeMagic will check RSS Feeds daily for new content and retweet from signed in twitter account.

	- if current_user
		.row
			Currently signed in as
			%b
				= current_user.name
		%hr

		%h2
			New Rss Feed Collection
		= render :partial => "rss_feed_collections/form", locals: { rfc: @rss_feed_collection }
		- if @rss_feed_collections.present?
			%hr
				%h2
					Edit
			- @rss_feed_collections.each do |rfc|
				= render :partial => "rss_feed_collections/form", locals: { rfc: rfc }
	- else
		%div#user_nav
		= link_to "Sign in with Twitter", "/auth/twitter", { class: "btn btn-default" }