= render :partial => "shared/view", locals: { obj: @twitter_blast }

.show-container
	.row
		%h2 Twitter handles
	.row
		.col-xs-12.word-wrap
			- if @twitter_blast.records.length > 0
				#{ @twitter_blast.records.map { |record| record.text }.join(",") }
			- else
				None to show.
	.row
		= link_to "Back", "/twitter_blaster", class: "btn btn-default"