// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// font overrides
h1, .brand {
  font-family: 'Montserrat', sans-serif;
  margin: 12px 0;
}
.description {
  font-style: italic;
}
.active {
  background: #eee;
}
.bounce-container{
  top: 50px;
   height: 250px;
   width: 100%;
   position: relative;
   color: #00000;
   text-align: left;
}
.navbar { margin-bottom: 0px; }
.clouds-bg {
  background-image: url("/assets/clouds.png");
  background-size: 20%;
  background-repeat: repeat-x;
  height: 85px;
  position: relative;
  top: -45px;
}
.btn-submit {
  background: #DAF0FF;
}
.clouds-img { height: 300px; }
.wizard-back { width: 100%; max-width: 200px; }
.wizard-bg {
  background-image: url('/assets/wizardpipe.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 280px;
  background-position: center bottom;
  position: relative !important;
  overflow: hidden !important;
  margin: auto !important;
}
a:hover {
  color: gray !important;
  background: none !important;
}
.alert {
  margin-bottom: 0px !important;
}
.container-fluid .alert {
  margin-right: -15px;
  margin-left: -15px;
}
// override bootsrap
table, td {
  font-size: 0.9em !important;
}
.medium-font {
  font-size: 18px;
  line-height: 35px;
}
.word-wrap {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.bottom-table {
  margin-top: 30px !important;
}
.bounce {
  //width: 100%;
  //bottom: 0px;
  //position: absolute;
  //background: none !important;
  //margin-top: 50px;
  //height: 60px;
  //text-align: left;
}
.brand {
  margin: 14px 0;
}
.field_with_errors {
  width: 100%;
}
#user_nav {
  margin: 12px 0;
}
body {
  background-color: #00ff00;
  //background-image: url("/assets/ape.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 200%;
  -moz-background-size: 200%;
  -o-background-size: 200%;
  background-size: 200%;
  color: #2c3e50;
}

#recent-scrapes-table, #recent-blasts-table {
width: 90%;
margin: 10px 5%;
}

textarea { resize: none; min-height: 100px; }
.static-page-container, .home-container, .scrapeape_container, .twitter_blaster_container, .recent-blasts-container, .recent-scrapes-container {
  //background-color: rgba(244,244,244,.8);
  padding: 0 20px;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  textarea, input[type="number"], input[type="text"] {
      width: 100%;
      resize: none;
  }
}

.right-aligned {
  text-align: right !important;
}
.left-aligned {
  text-align: left !important;
}
ul, li {
  margin: 2px 0;
  text-decoration: none;
  list-style-type: none;
  padding: 6px !important;
}
footer {
  background: white;
  width: 100%;
  position: relative;
  bottom: 0px;
  text-align: center;
}
.section-heading, h2 {
  font-weight: bold;
  color: #2c3e50;
  line-height: 65px;
}
.section-heading { font-size: 50px; }
h2 { font-size: 30px; margin: 0px; }
section {
  //position: absolute;
  min-height: 100%;
  overflow: auto;
  margin: 0 -15px;
}
.section1 {
  vertical-align: bottom;
  bottom: 0px;
  min-width: 780px;
  background: #DAF0FF;
  color: #2c3e50;
  .section1-right {
    width: 300px;
  }
  .section1-left {
    min-width: 0px;
    width: 50%;
    float: left;
  }
}
.section2 {
  //background-color: #9b59b6;
  color: #2c3e50;
  font-family: 'Montserrat', sans-serif;
}
.layout-container {
  margin-bottom: 30px !important;
  height: auto;
  position: relative;
  overflow: auto;
}

.fields {
  margin: 10px 0;
}

label {
  font-size: .9em;
}

.row {
  margin: 10px 0;
}

.row-f {
  margin-left: -15px;
  margin-right: -15px;
}

.full-width {
  width: 100%;
}
.home-description { position: relative;  }
.margin-top-22 { margin-top: 22px; }
.margin-top-45 { margin-top: 45px; }
.pb45 { padding-bottom: 45px; }
.pt45 { padding-top: 45px; }