// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// font overrides
h1, .brand{
	font-family: 'Indie Flower', cursive;
}

body {
	background-image: url("/assets/ape.jpg");
	background-repeat: no-repeat;
  -webkit-background-size: 200%;
  -moz-background-size: 200%;
  -o-background-size: 200%;
  background-size: 200%;
}

#recent-scrapes-table {
	width: 100%;
}
.recent-scrapes-table {
	margin: 20px;
}
.scrapeape_container, .recent-scrapes-container {
background-color: rgba(244,244,244,.8);
padding: 20px;
border-radius: 10px;
margin-top: 50px;
width: 100%;
margin: 50px auto;
}

footer {
	background: white;
	width: 100%;
	position: fixed;
	bottom: 0px;
}

.fields {
	margin: 10px 0;
}

label {
	font-size: .9em;
}

input[type="text"] {
	width: 70%;
}

.row {
	margin-top: 10px;
}