// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// font overrides
h1, .brand {
	font-family: 'Ubuntu';
	margin: 12px 0;
}
.description {
	font-style: italic;
}
.active {
	background: #eee;
}
.bounce-container{
	top: 50px;
	 height: 220px;
	 width: 100%;
	 position: relative;
	 color: #00000;
}
a:hover {
	color: gray !important;
	background: none !important;
}

// override bootsrap
table, td {
	font-size: 0.9em !important;
}
.word-wrap {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.bottom-table {
	margin-top: 30px !important;
}
.bounce {
	width: 100%;
	bottom: 0px;
	position: absolute;
	background: none !important;
}
.brand {
	margin: 14px 0;
}
.home-container {
	margin-top: 10px !important;
	position: relative;
}
.field_with_errors {
	width: 100%;
}
#user_nav {
	margin: 12px 0;
}
body {
  background-color: #00ff00;
	//background-image: url("/assets/ape.jpg");
	background-repeat: no-repeat;
  -webkit-background-size: 200%;
  -moz-background-size: 200%;
  -o-background-size: 200%;
  background-size: 200%;
}

#recent-scrapes-table, #recent-blasts-table {
width: 90%;
margin: 10px 5%;
}

textarea { resize: none; min-height: 300px; }
.static-page-container, .home-container, .scrapeape_container, .twitter_blaster_container, .recent-blasts-container, .recent-scrapes-container {
	//background-color: rgba(244,244,244,.8);
	padding: 0 20px;
	border-radius: 10px;
	width: 100%;
	margin: 20px auto;
	textarea, input[type="number"], input[type="text"] {
			width: 100%;
			resize: none;
	}
}

.right-aligned {
	text-align: right !important;
}
.left-aligned {
	text-align: left !important;
}
ul li {
	margin: 1em 0;
	text-decoration: none;
	list-style-type: none;
}
footer {
	background: white;
	width: 100%;
	position: relative;
	bottom: 0px;
	text-align: center;
}
.layout-container {
	margin-bottom: 30px !important;
	height: auto;
	position: relative;
	overflow: auto;
}

.fields {
	margin: 10px 0;
}

label {
	font-size: .9em;
}

.row {
	margin: 10px 0;
}

.full-width {
	width: 100%;
}

.margin-top-45 { margin-top: 45px; }